PORT=5000

# MongoDB Url

MONGODB_URI=

# Jsonwebtoken

JWT_SECRET=

# cloudinary

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# PayPal

PAYPAL_API_CLIENT_ID=
PAYPAL_API_SECRET=

# Client URL

CLIENT_BASE_URL=
